In [1]:
import pypyodbc

# Connect to SQL database
conn = pypyodbc.connect("Driver={SQL Server};"
                    "Server=DESKTOP-KOOIS0J;"
                    "Database=Horses;"
                    "Trusted_Connection=yes;",
                    autocommit=True

sql2 = ('''SELECT * FROM horses2''')

# load data from database
data1 = pd.read_sql(sql2, conn)

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

# read dataset
data = pd.DataFrame(data1)
data.head()

,Unnamed: 0,Column1,racenumber,racename,racetitle,racedistance,place,horsename,prizemoney,row,trainer,driver,margin,startingodds,stewardscomments,scratching,trackrating,gross_time,mile_rate,lead_time,first_quarter,second_quarter,third_quarter,fourth_quarter,venue,daycalender,handicap,placer,horseid,age,colour,sire,sex,winner,firststarter,lifetimeruns,recentruns,lifetimewins,lifetimeseconds,lifetimethirds,lifetimeplacings,lifetimewinpercent,lifetimeplacepercent,recentplacepercent,recentwinpercent,recentplacings,recentthirds,recentseconds,recentwins,class,dayssincelast,gatespeedstrikerate,broken,leaderstrikerate,laststart,start2,start3,start4,marginwinner,samedistance,fiftypercentile,bestmilerateint,leading,deathseat,onebehind,oneone,fifthpegs,worsethanfifth,trainerruns,trainerstrikerate,driverstrikerate,driverruns,numberofhorses,racesfromsecondrow,racesfromfrontrow,gsfromdrawonetwo,gsfromdrawthreefour,gsfromdrawrestoffront,gsandleadwhengsinside,gsandleadwhengsoutside,firsttimeatdistance,upindistance,downindistance,mostrunsatdistance,aveprizemoney,countgatespeedonfrontrow,homevenue,driverchange,trainerchange,trackchange,bestwinningmileratelastwin,standingstartlaststart,insiderunningline,outsiderunningline,mobilestart,bsp,weather,trackcondition,horsename50,rowlaststart,distancelaststart,trainerlaststart,driverlaststart,stewardsfull,bestwinningmile,timelead,timegatespeed,timebroken,prizemoneylaststart,triallaststart,standlaststart,racetime,morningrace,eveningrace,timelastrace,morningracelaststart,eveningracelaststart,prizemoneylastrace,startingprice1,avestake,totalprize,sametrack,prizemoneysame,prizemoneyup,prizemoneydown,tracklaststart,tracknamelaststart,trials,aveplace,countld1,countld2,countld3,countld4,countfront1,countfront2,countfront3,countfront4,countofdeath,frontrow,secondrow,numbertrainer
0,0,0,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,10,JUST A SMILE,7500,3,Nathan Dymock,N C Dymock,103.8,91.00,\r\nRES 4 GG WI\r\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Albany,02-01-2021,0,0,796616,6,BAY,SMILING SHARD NZ,GELDING,0,0,14,26,0,1,2,3,0.0,0.214286,0.192308,0.038462,5,1,3,1,50,4,0.071429,0.071429,0.000000,8,10,4,6,0.0,0,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2242,N C Dymock,N C Dymock,"led one wide, outside leader at bell, broke ge...",0,0,1,1,100,0,0,6:18pm,0,1,7:45pm,0,1,7500,52.7,206.500000,2891,0,1,0,0,ALBANY,NARROGN,9,6.428571,0,0,0,0,1,1,2,0,0,11,3,1
1,1,61254,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,1,ALTA BONANZA,7500,4,Barry Howlett,C D Voak,0.0,1.16,\r\nGS L HO 1\r\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Albany,02-01-2021,0,1,803090,6,BAY,MACH THREE CA,GELDING,1,0,0,2,0,0,0,0,0.0,0.000000,0.500000,0.500000,1,0,0,1,53,10,0.000000,0.000000,0.000000,0,0,0,0,38.8,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,0,0,0,1,0,6:18pm,0,1,0,0,0,0,0.0,0.000000,0,0,0,0,0,0,0,1,0.000000,0,0,0,0,0,0,0,0,0,0,0,1
2,2,61255,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,2,NULLARBOR NAVAJO,7500,13,Cheyenne King-Davies,H Hancock,38.8,20.00,\r\nGF CFS NAT W1 B SD1T\r\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Albany,02-01-2021,0,1,807823,4,BAY/BROWN,BETTERTHANCHEDDAR USA,MARE,0,0,3,9,0,0,1,1,0.0,0.333333,0.444444,0.111111,4,0,3,1,51,15,0.000000,0.000000,0.000000,4,3,7,3,0.0,1,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2265,C P King-Davies,H Hancock,5 back on pegs at bell,0,0,0,0,1225,0,0,6:18pm,0,1,8:00pm,0,1,7500,8.0,291.333333,874,1,1,0,0,ALBANY,ALBANY,6,4.666667,0,0,0,0,2,0,0,0,0,2,1,2
3,3,61256,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,4,YANAHA NAVAJO,7500,1,Ken Davies,S C Butterworth,48.4,6.60,\r\nGS 3\r\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Albany,02-01-2021,0,0,800609,5,BAY,CARIBBEAN BLASTER,MARE,0,0,16,19,0,4,1,5,0.0,0.312500,0.263158,0.105263,5,3,0,2,50,15,0.125000,0.000000,0.062500,8,2,2,2,0.0,1,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,2265,K R Davies,W G Andrews,"obtained trail early and middle, led one wide,...",0,1,2,0,434,0,0,6:18pm,0,1,8:00pm,0,1,7500,8.5,359.437500,5751,1,1,0,0,ALBANY,ALBANY,8,4.937500,1,0,0,0,4,2,5,0,0,12,4,1
4,4,61257,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,5,SANFORD LORETTA,7500,14,John Fagg,A C Lewis,57.3,41.00,\r\n9\r\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Albany,02-01-2021,0,0,793686,6,BAY,RICH AND SPOILT,MARE,0,0,29,22,0,1,2,3,0.0,0.103448,0.272727,0.000000,6,2,4,0,50,49,0.344828,0.103448,0.137931,7,3,9,5,0.0,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2242,J R Fagg,H Hancock,"held up for clear run early, behind leader at ...",0,4,10,3,263,0,0,6:18pm,0,1,8:49pm,0,1,7500,41.0,170.586207,4947,0,1,0,0,ALBANY,NARROGN,6,6.379310,3,1,0,0,2,7,3,0,0,16,13,1

In [3]:
data.shape

(122646, 141)

In [4]:
for column in data:
    if data[column].isna().any():
        print(column,data[column].isna().sum()/data.shape[0]*100)

scratching 100.0
trackrating 100.0
gross_time 100.0
mile_rate 100.0
lead_time 100.0
first_quarter 100.0
second_quarter 100.0
third_quarter 100.0
fourth_quarter 100.0
fiftypercentile 100.0
bestmilerateint 100.0
onebehind 100.0
oneone 100.0
fifthpegs 100.0
worsethanfifth 100.0
trainerruns 100.0
trainerstrikerate 100.0
driverstrikerate 100.0
driverruns 100.0
numberofhorses 100.0
racesfromsecondrow 100.0
racesfromfrontrow 100.0
gsfromdrawonetwo 100.0
gsfromdrawthreefour 100.0
gsfromdrawrestoffront 100.0
gsandleadwhengsinside 100.0
gsandleadwhengsoutside 100.0
firsttimeatdistance 100.0
mostrunsatdistance 100.0
aveprizemoney 100.0
countgatespeedonfrontrow 100.0
homevenue 100.0
trackchange 100.0
bestwinningmileratelastwin 100.0
standingstartlaststart 100.0
insiderunningline 100.0
outsiderunningline 100.0
mobilestart 100.0
bsp 100.0
weather 100.0
trackcondition 100.0
horsename50 100.0
rowlaststart 0.17040914501899776
stewardsfull 0.4614907946447499

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122646 entries, 0 to 122645
Columns: 141 entries, Unnamed: 0 to numbertrainer
dtypes: float64(56), int64(66), object(19)
memory usage: 131.9+ MB

In [6]:
for column in data:
    if data[column].isna().any():
        if data[column].isna().sum()/data.shape[0]*100 == 100:
            data.drop(columns = [column], inplace = True)
data.drop(columns = ['stewardsfull','Unnamed: 0','Column1'], inplace = True)
data.rowlaststart = data.rowlaststart.fillna(data.rowlaststart.mean())

In [7]:
data.shape

(122646, 96)

In [8]:
# feature engineering
# trainer
trainer_df = data.trainer.value_counts().to_frame('trainer')

d = {range(1,11):1,range(11,51):2,range(50,101):3,range(101,201):4,range(201,301):5,range(301,501):6,range(501,701):7,
                         range(701,1001):8,range(1001,2001):9,range(2001,3369):10}

trainer_df['trainer']=trainer_df['trainer'].apply(lambda x: next((v for k, v in d.items() if x in k), 0))
trainer_df = trainer_df.reset_index()
trainer_df.columns = ['trainer','trainer_count']
data = pd.merge(data,trainer_df,on=['trainer'],how='left')



# driver
driver_df = data.driver.value_counts().to_frame('driver_count').reset_index()

d = {range(1,11):1,range(11,51):2,range(50,101):3,range(101,201):4,range(201,301):5,range(301,501):6,range(501,701):7,
                         range(701,1001):8,range(1001,1501):9,range(1501,1721):10}

driver_df.columns = ['driver','driver_count']
driver_df['driver_count']=driver_df['driver_count'].apply(lambda x: next((v for k, v in d.items() if x in k), 0))
data = pd.merge(data,driver_df,on=['driver'],how='left')
# data.drop(['trainer','driver'],axis=1,inplace=True)


# venue
venue_race_count_df = data.groupby(['venue','horsename'])['horsename'].count().sort_values().to_frame('race_count')
data = pd.merge(data,venue_race_count_df,on=['venue','horsename'],how='left')

In [9]:
data.isna().sum().sum()

0

In [10]:
from datetime import datetime
data.racetime=data.racetime.apply(lambda x:datetime.strptime(x, '%I:%M%p'))
data.racetime=pd.to_datetime(data.racetime,format= '%I:%M%p' ).dt.time
data.racetime=data.racetime.apply(lambda x:x.hour*60+x.minute)

In [11]:
data.corr()['place']

racenumber      -0.003081
racedistance     0.035714
place            1.000000
prizemoney       0.039481
row              0.060918
                   ...
secondrow        0.073324
numbertrainer    0.056881
trainer_count   -0.047044
driver_count    -0.124483
race_count      -0.003062
Name: place, Length: 82, dtype: float64

In [12]:
data.head()

,racenumber,racename,racetitle,racedistance,place,horsename,prizemoney,row,trainer,driver,margin,startingodds,stewardscomments,venue,daycalender,handicap,placer,horseid,age,colour,sire,sex,winner,firststarter,lifetimeruns,recentruns,lifetimewins,lifetimeseconds,lifetimethirds,lifetimeplacings,lifetimewinpercent,lifetimeplacepercent,recentplacepercent,recentwinpercent,recentplacings,recentthirds,recentseconds,recentwins,class,dayssincelast,gatespeedstrikerate,broken,leaderstrikerate,laststart,start2,start3,start4,marginwinner,samedistance,leading,deathseat,upindistance,downindistance,driverchange,trainerchange,rowlaststart,distancelaststart,trainerlaststart,driverlaststart,bestwinningmile,timelead,timegatespeed,timebroken,prizemoneylaststart,triallaststart,standlaststart,racetime,morningrace,eveningrace,timelastrace,morningracelaststart,eveningracelaststart,prizemoneylastrace,startingprice1,avestake,totalprize,sametrack,prizemoneysame,prizemoneyup,prizemoneydown,tracklaststart,tracknamelaststart,trials,aveplace,countld1,countld2,countld3,countld4,countfront1,countfront2,countfront3,countfront4,countofdeath,frontrow,secondrow,numbertrainer,trainer_count,driver_count,race_count
0,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,10,JUST A SMILE,7500,3,Nathan Dymock,N C Dymock,103.8,91.00,\r\nRES 4 GG WI\r\n,Albany,02-01-2021,0,0,796616,6,BAY,SMILING SHARD NZ,GELDING,0,0,14,26,0,1,2,3,0.0,0.214286,0.192308,0.038462,5,1,3,1,50,4,0.071429,0.071429,0.000000,8,10,4,6,0.0,0,1,0,1,0,0,0,4.0,2242,N C Dymock,N C Dymock,0,0,1,1,100,0,0,1098,0,1,7:45pm,0,1,7500,52.7,206.500000,2891,0,1,0,0,ALBANY,NARROGN,9,6.428571,0,0,0,0,1,1,2,0,0,11,3,1,4,2,8
1,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,1,ALTA BONANZA,7500,4,Barry Howlett,C D Voak,0.0,1.16,\r\nGS L HO 1\r\n,Albany,02-01-2021,0,1,803090,6,BAY,MACH THREE CA,GELDING,1,0,0,2,0,0,0,0,0.0,0.000000,0.500000,0.500000,1,0,0,1,53,10,0.000000,0.000000,0.000000,0,0,0,0,38.8,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,1,0,1098,0,1,0,0,0,0,0.0,0.000000,0,0,0,0,0,0,0,1,0.000000,0,0,0,0,0,0,0,0,0,0,0,1,6,9,2
2,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,2,NULLARBOR NAVAJO,7500,13,Cheyenne King-Davies,H Hancock,38.8,20.00,\r\nGF CFS NAT W1 B SD1T\r\n,Albany,02-01-2021,0,1,807823,4,BAY/BROWN,BETTERTHANCHEDDAR USA,MARE,0,0,3,9,0,0,1,1,0.0,0.333333,0.444444,0.111111,4,0,3,1,51,15,0.000000,0.000000,0.000000,4,3,7,3,0.0,1,0,0,0,0,0,0,11.0,2265,C P King-Davies,H Hancock,0,0,0,0,1225,0,0,1098,0,1,8:00pm,0,1,7500,8.0,291.333333,874,1,1,0,0,ALBANY,ALBANY,6,4.666667,0,0,0,0,2,0,0,0,0,2,1,2,3,5,9
3,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,4,YANAHA NAVAJO,7500,1,Ken Davies,S C Butterworth,48.4,6.60,\r\nGS 3\r\n,Albany,02-01-2021,0,0,800609,5,BAY,CARIBBEAN BLASTER,MARE,0,0,16,19,0,4,1,5,0.0,0.312500,0.263158,0.105263,5,3,0,2,50,15,0.125000,0.000000,0.062500,8,2,2,2,0.0,1,1,0,0,0,1,0,12.0,2265,K R Davies,W G Andrews,0,1,2,0,434,0,0,1098,0,1,8:00pm,0,1,7500,8.5,359.437500,5751,1,1,0,0,ALBANY,ALBANY,8,4.937500,1,0,0,0,4,2,5,0,0,12,4,1,2,5,8
4,1,ALBANY AUTOS 4YO+ MS PACE (SKY2),"$7,500 4YO and older. Maiden (HWOE = $0). RBD....",2265,5,SANFORD LORETTA,7500,14,John Fagg,A C Lewis,57.3,41.00,\r\n9\r\n,Albany,02-01-2021,0,0,793686,6,BAY,RICH AND SPOILT,MARE,0,0,29,22,0,1,2,3,0.0,0.103448,0.272727,0.000000,6,2,4,0,50,49,0.344828,0.103448,0.137931,7,3,9,5,0.0,0,0,0,1,0,1,0,2.0,2242,J R Fagg,H Hancock,0,4,10,3,263,0,0,1098,0,1,8:49pm,0,1,7500,41.0,170.586207,4947,0,1,0,0,ALBANY,NARROGN,6,6.379310,3,1,0,0,2,7,3,0,0,16,13,1,3,8,9

In [13]:
zero_index = data[data.place==0].index
data.drop(zero_index,inplace=True)

In [14]:
data['place'] = data['place'].apply(lambda x : 8 if x > 8 else x )

In [15]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import RobustScaler, OrdinalEncoder
from sklearn.compose import ColumnTransformer


def num_pipeline_transformer(data):
    numerics = ['float64', 'int64']

    num_attrs = data.select_dtypes(include=numerics)

    num_pipeline = Pipeline([('scaler', RobustScaler())])
    return num_attrs, num_pipeline


def pipeline_transformer(data):
    cat_attrs = list(data.select_dtypes(include=object).columns)
    num_attrs, num_pipeline = num_pipeline_transformer(data)
    full_pipeline = ColumnTransformer([
        ("num", num_pipeline, list(num_attrs)),
        ("cat", OrdinalEncoder(), cat_attrs),
        ])
    prepared_data = full_pipeline.fit_transform(data)
    prepared_data = pd.DataFrame(prepared_data,columns=data.columns) 
    return prepared_data

In [16]:
from imblearn.under_sampling import RandomUnderSampler

X = data.drop('place', axis = 1)
y = data.place
prepared_data = pipeline_transformer(X)
print('Before\n')
print(y.value_counts())

rus = RandomUnderSampler(random_state=42,sampling_strategy='majority') 
prepared_data, y = rus.fit_resample(prepared_data, y)
print('After\n')
print(y.value_counts())

Before

8    26619
1    13909
3    13902
2    13898
4    13892
5    13842
6    13495
7    12571
Name: place, dtype: int64
After

1    13909
3    13902
2    13898
4    13892
5    13842
6    13495
7    12571
8    12571
Name: place, dtype: int64

In [17]:
prepared_data.head()

,racenumber,racename,racetitle,racedistance,horsename,prizemoney,row,trainer,driver,margin,startingodds,stewardscomments,venue,daycalender,handicap,placer,horseid,age,colour,sire,sex,winner,firststarter,lifetimeruns,recentruns,lifetimewins,lifetimeseconds,lifetimethirds,lifetimeplacings,lifetimewinpercent,lifetimeplacepercent,recentplacepercent,recentwinpercent,recentplacings,recentthirds,recentseconds,recentwins,class,dayssincelast,gatespeedstrikerate,broken,leaderstrikerate,laststart,start2,start3,start4,marginwinner,samedistance,leading,deathseat,upindistance,downindistance,driverchange,trainerchange,rowlaststart,distancelaststart,trainerlaststart,driverlaststart,bestwinningmile,timelead,timegatespeed,timebroken,prizemoneylaststart,triallaststart,standlaststart,racetime,morningrace,eveningrace,timelastrace,morningracelaststart,eveningracelaststart,prizemoneylastrace,startingprice1,avestake,totalprize,sametrack,prizemoneysame,prizemoneyup,prizemoneydown,tracklaststart,tracknamelaststart,trials,aveplace,countld1,countld2,countld3,countld4,countfront1,countfront2,countfront3,countfront4,countofdeath,frontrow,secondrow,numbertrainer,trainer_count,driver_count,race_count
0,-1.00,0.522222,0.194628,-0.166667,-0.643617,-0.418947,0.0,1.0,0.115108,0.333333,1.0,0.0,-0.637931,-0.928571,-0.500,-0.500,-0.50,-0.666667,-0.961098,-1.734694,0.683824,2.638889,-0.666667,-0.666667,-0.333333,0.000000,0.055556,0.285714,-0.958781,0.000000,-0.682485,-0.8,-0.8,-0.8,-0.8,38.80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.625,-3.829787,-0.500,-0.5625,0.0,-0.381232,1.0,0.0,-0.069264,0.0,0.0,0.0,-1.0,-2.122498,-0.413534,-1.041652,-0.593155,0.0,0.0,0.0,0.0,-0.375,-3.917046,-0.50,-0.333333,0.0,0.0,-0.555556,-0.545455,-0.545455,-0.5,0.0,-0.651163,-0.533333,0.0,1.0,1.333333,-0.333333,365.0,3026.0,254.0,133.0,219.0,20612.0,0.0,11.0,0.0,327.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0
1,-0.25,0.522222,0.194628,1.166667,-0.643617,0.277193,0.0,1.0,0.006998,0.000000,1.0,0.0,0.068966,0.428571,0.250,0.125,0.50,0.238095,0.375063,0.516177,0.957353,0.678571,1.166667,1.000000,0.666667,1.000000,1.611111,-0.142857,0.584623,0.000000,0.405052,-0.4,-0.2,1.2,-0.4,0.15,0.0,1.0,0.0,0.0,1.0,1.0,0.0,-0.625,1.276596,0.375,0.4375,0.0,6.193548,0.0,1.0,0.350649,0.0,0.0,0.0,0.0,-0.758035,-0.285714,0.348961,0.191911,0.0,0.0,1.0,0.0,0.500,-0.381971,0.50,0.000000,1.0,0.0,-0.222222,-0.272727,0.363636,0.0,0.0,0.116279,-0.066667,0.0,0.0,0.666667,-0.333333,6281.0,2971.0,888.0,1982.0,347.0,6134.0,0.0,11.0,0.0,77.0,4.0,2020.0,363.0,0.0,642.0,1.0,24.0
2,0.25,0.522222,0.194628,0.166667,-0.643617,-0.284211,0.0,1.0,0.043427,0.000000,1.0,0.0,0.086207,-0.071429,0.625,-0.125,0.75,0.380952,0.995423,0.809524,0.410294,0.829365,0.166667,0.333333,-0.333333,0.666667,1.222222,-0.428571,0.359543,0.000000,1.137476,1.4,-0.2,0.6,-0.2,2.30,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.125,0.702128,1.000,0.3125,0.0,6.193548,0.0,0.0,0.588745,0.0,0.0,1.0,-1.0,0.151607,0.000000,0.948056,0.557525,0.0,1.0,0.0,0.0,0.000,-0.660011,0.50,1.000000,2.0,2.0,-0.222222,-0.272727,0.181818,0.5,0.0,0.046512,0.200000,0.0,1.0,0.333333,-0.416667,371.0,3023.0,8336.0,28.0,948.0,19897.0,0.0,11.0,0.0,7.0,2.0,24.0,18.0,0.0,404.0,1.0,43.0
3,-0.75,0.522222,0.194628,-0.666667,-0.643617,-0.422456,0.0,1.0,0.516481,-0.333333,1.0,0.0,-0.534483,-0.357143,-0.250,-0.125,-0.50,-0.428571,2.082380,2.312925,1.066765,2.005556,0.166667,-0.666667,0.333333,1.000000,0.944444,0.142857,0.359543,0.000000,2.502446,-0.4,-0.4,-0.6,-0.6,33.00,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.000,0.702128,-0.125,-0.4375,0.0,6.193548,0.0,0.0,0.095238,0.0,0.0,0.0,0.0,3.335355,-0.296992,5.430321,-0.058463,0.0,0.0,0.0,1.0,-0.125,-2.288529,-0.50,0.333333,1.0,0.0,-0.444444,-0.454545,-0.454545,-0.5,0.0,-0.511628,-0.533333,0.0,0.0,1.000000,-0.416667,5421.0,2923.0,7192.0,541.0,8.0,19897.0,0.0,11.0,0.0,473.0,1.0,481.0,8.0,0.0,569.0,1.0,43.0
4,-0.50,-0.440000,0.194628,-0.500000,-0.643617,-0.326316,0.0,1.0,-0.873643,0.666667,1.0,0.0,-0.586207,-0.642857,-0.375,-0.500,-0.50,-0.619048,2.082380,-0.115646,1.322059,1.583333,-0.166667,-0.333333,0.000000,0.333333,0.555556,1.000000,0.359543,11.333333,1.440802,-0.6,-0.6,-0.6,-0.6,2.50,0.0,1.0,0.0,0.0,1.0,0.0,0.0,-0.500,0.989362,-0.375,-0.5000,1.0,6.193548,0.0,0.0,0.225108,0.0,0.0,0.0,0.0,0.151607,-0.336466,1.351474,-0.494299,1.0,1.0,0.0,0.0,0.250,-1.202850,-0.25,-0.333333,0.0,0.0,-0.555556,-0.363636,-0.545455,-0.5,0.0,-0.581395,-0.533333,0.0,-1.0,-0.666667,-0.083333,3267.0,2942.0,7070.0,2008.0,1320.0,19897.0,0.0,11.0,0.0,469.0,2.0,2038.0,1221.0,0.0,652.0,1.0,2.0

In [19]:
lst = ['racenumber', 'racename', 'racetitle', 'racedistance', 'horsename',
       'prizemoney', 'trainer', 'driver', 'margin', 'startingodds', 'venue',
       'daycalender', 'handicap', 'placer', 'horseid', 'age', 'colour', 'sire',
       'sex', 'winner', 'firststarter', 'lifetimeruns', 'recentruns',
       'lifetimewins', 'lifetimeseconds', 'lifetimethirds', 'lifetimeplacings',
       'lifetimewinpercent', 'lifetimeplacepercent', 'recentplacepercent',
       'recentwinpercent', 'recentplacings', 'recentthirds',
       'leaderstrikerate', 'start2', 'start3', 'start4', 'marginwinner',
       'samedistance', 'leading', 'deathseat', 'downindistance',
       'trainerlaststart', 'driverlaststart', 'bestwinningmile', 'timelead',
       'standlaststart', 'racetime', 'morningrace', 'eveningrace',
       'timelastrace', 'eveningracelaststart', 'prizemoneylastrace',
       'startingprice1', 'avestake', 'sametrack', 'prizemoneysame',
       'prizemoneyup', 'prizemoneydown', 'tracklaststart',
       'tracknamelaststart', 'trials', 'aveplace', 'countld1', 'countld2',
       'countld3', 'countld4', 'countfront1', 'countfront2', 'countfront3',
       'countfront4', 'countofdeath', 'frontrow', 'secondrow', 'numbertrainer',
       'trainer_count', 'driver_count', 'race_count']

In [20]:
prepared_data = prepared_data[lst]

In [24]:
def OutlireHandling(imputed_df):
    columns = lst
    for column in columns:
        high = imputed_df[column].mean() + 2.5*imputed_df[column].std()
        low = imputed_df[column].mean() - 2.5*imputed_df[column].std()
        imputed_df.loc[imputed_df[column] > high, column] = high
        imputed_df.loc[imputed_df[column] < low, column] = low
    ModelReady_df = imputed_df
    return ModelReady_df

prepared_data = OutlireHandling(prepared_data)

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(prepared_data,y,test_size=0.2,random_state=211)

In [26]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

forest_clf = RandomForestClassifier(min_samples_split= 10, criterion= 'entropy', max_features = 48
                                    ,bootstrap= False, max_depth= 15, n_estimators= 100)
forest_clf.fit(X_train, y_train)
forest_clf_cv_scores = cross_val_score(forest_clf,X_train, y_train, scoring='accuracy', cv = 10)

forest_clf_accuracy_scores = forest_clf_cv_scores
forest_clf_accuracy_scores.mean()

0.7834474689147404

In [27]:
from sklearn.metrics import accuracy_score

place_predictions = forest_clf.predict(X_test)
test_score = accuracy_score(y_test,place_predictions)
test_score

0.7802553663952627

In [28]:
from sklearn.metrics import f1_score
f1_score(y_test,place_predictions,average='weighted')

0.7725746406475463

In [29]:
from sklearn.metrics import precision_score
precision_score(y_test,place_predictions,average='weighted')

0.7735136257264864

In [30]:
from sklearn.metrics import recall_score
recall_score(y_test,place_predictions,average='weighted')

0.7802553663952627

In [31]:
from sklearn.metrics import roc_auc_score

y_preb_probs = forest_clf.predict_proba(X_test)
auc = roc_auc_score(y_test, y_preb_probs, average="weighted", multi_class="ovr")
auc

0.9623712325418291

In [32]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(confusion_matrix(y_test, place_predictions))

      0     1     2     3     4     5    6     7
0  2814     0     0     0     0     0    0     0
1     0  2697    53     0     0     0    0     0
2     0    49  2740     0     0     0    0     0
3     0     0     0  2603    47    22   23    10
4     0     0     0    67  2513    80   41    50
5     0     0     0    35    60  1549  478   602
6     0     0     0    17    43  1179  451   889
7     0     0     0     6    16   606  377  1499

In [33]:
from sklearn.metrics import classification_report
pd.DataFrame(classification_report(y_test, place_predictions,output_dict=True)).T

              precision    recall  f1-score       support
1              1.000000  1.000000  1.000000   2814.000000
2              0.982156  0.980727  0.981441   2750.000000
3              0.981024  0.982431  0.981727   2789.000000
4              0.954179  0.962292  0.958218   2705.000000
5              0.938037  0.913486  0.925599   2751.000000
6              0.450815  0.568649  0.502922   2724.000000
7              0.329197  0.174874  0.228412   2579.000000
8              0.491475  0.598642  0.539791   2504.000000
accuracy       0.780255  0.780255  0.780255      0.780255
macro avg      0.765860  0.772638  0.764764  21616.000000
weighted avg   0.773514  0.780255  0.772575  21616.000000

In [34]:
from pprint import pprint

print('Parameters currently in use:\n')
pprint(forest_clf.get_params())

Parameters currently in use:

{'bootstrap': False,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'entropy',
 'max_depth': 15,
 'max_features': 48,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 10,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [35]:
df=pd.read_csv('Brad_Horses_New_df.csv')

In [36]:
df = pd.merge(df,trainer_df,on=['trainer'],how='left')
df = pd.merge(df,driver_df,on=['driver'],how='left')
df = pd.merge(df,venue_race_count_df,on=['venue','horsename'],how='left')

In [37]:
ts_data = df[(df.daycalender=='03-04-2021') & (df['racenumber'] == 1)  & (df['venue']=='Tabcorp Park Melton')]

venue = ts_data['venue']
date = ts_data['daycalender']
horses = ts_data['horsename']

df1 = pd.DataFrame({'Date':date,'Venue':venue,'runnername':horses}).reset_index()

y = ts_data['place']
cols_New = X_train.columns
ts_data = pipeline_transformer(ts_data[cols_New])

result = pd.DataFrame(forest_clf.predict_proba(ts_data),columns=[1,2,3,4,5,6,7,8])

predictions = df1.join(result).drop('index',axis=1)

In [38]:
predictions

,Date,Venue,runnername,1,2,3,4,5,6,7,8
0,03-04-2021,Tabcorp Park Melton,TOBY OGARA,0.830,0.012444,0.157556,0.000000,0.000000,0.000000,0.000000,0.000000
1,03-04-2021,Tabcorp Park Melton,DAN FERNANDO,0.000,0.406473,0.593527,0.000000,0.000000,0.000000,0.000000,0.000000
2,03-04-2021,Tabcorp Park Melton,LETS MAKE TRACKS,0.005,0.449722,0.535278,0.005000,0.005000,0.000000,0.000000,0.000000
3,03-04-2021,Tabcorp Park Melton,EXCITER,0.000,0.050000,0.000000,0.857500,0.092500,0.000000,0.000000,0.000000
4,03-04-2021,Tabcorp Park Melton,SEW WHAT,0.000,0.010000,0.000000,0.719627,0.229123,0.022917,0.007500,0.010833
5,03-04-2021,Tabcorp Park Melton,OHOKA MAXIMUS,0.000,0.000000,0.000000,0.133500,0.426611,0.341099,0.098790,0.000000
6,03-04-2021,Tabcorp Park Melton,FLYING SCRIBE,0.000,0.003333,0.006667,0.912667,0.077333,0.000000,0.000000,0.000000
7,03-04-2021,Tabcorp Park Melton,LENARD ESS,0.000,0.000000,0.000000,0.006475,0.048539,0.269143,0.324436,0.351407
8,03-04-2021,Tabcorp Park Melton,MANASSA SKY,0.000,0.000000,0.000000,0.018191,0.040291,0.366312,0.415907,0.159299

In [45]:
def top_horses(predictions,position,places):     # it takes 3 argument prediction table, position and 
    for i in range(1,position+1):
        idx =predictions.sort_values(by=i,ascending=False)['runnername'].index[:places]
        print(predictions[['runnername',i]].iloc[idx])
        print(' -------------------------- ')
        

top_horses(predictions,6,3)

         runnername      1
0        TOBY OGARA  0.830
2  LETS MAKE TRACKS  0.005
1      DAN FERNANDO  0.000
 --------------------------
         runnername         2
2  LETS MAKE TRACKS  0.449722
1      DAN FERNANDO  0.406473
3           EXCITER  0.050000
 --------------------------
         runnername         3
1      DAN FERNANDO  0.593527
2  LETS MAKE TRACKS  0.535278
0        TOBY OGARA  0.157556
 --------------------------
      runnername         4
6  FLYING SCRIBE  0.912667
3        EXCITER  0.857500
4       SEW WHAT  0.719627
 --------------------------
      runnername         5
5  OHOKA MAXIMUS  0.426611
4       SEW WHAT  0.229123
3        EXCITER  0.092500
 --------------------------
      runnername         6
8    MANASSA SKY  0.366312
5  OHOKA MAXIMUS  0.341099
7     LENARD ESS  0.269143
 --------------------------

In [40]:
df[(df.daycalender=='03-04-2021') & (df['racenumber'] == 1)  & (df['venue']=='Tabcorp Park Melton')][['place','horsename']]

       place         horsename
28365      1        TOBY OGARA
28366      2      DAN FERNANDO
28367      3  LETS MAKE TRACKS
28368      4           EXCITER
28369      5          SEW WHAT
28370      6     OHOKA MAXIMUS
28371      7     FLYING SCRIBE
28372      8        LENARD ESS
28373      9       MANASSA SKY